<h1>Log In</h1>

<form action="/login" method="POST" autocomplete="off">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<ul>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>