<img src="https://cdn3.dualshockers.com/wp-content/uploads/2017/06/2017022822092300-F1C11A22FAEE3B82F21B330E1B786A39-ds1-1340x1340.jpg"
    alt="Korak from Legend of Zelda">

<ul>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>