html{
    height: auto;
    width: auto;
}

i.icon {
    font-size: 1.2em;
}

.headerSpace{
    margin-bottom: 7em;
}

.index-blog{
    padding-top: 2em;
    margin-bottom: 6em;
}

#index-blog{
    margin: 0 auto;
    width: 40vw;
}

#indexDate{
    font-weight: bold;
}

.content{
    margin-top:2em;
    font-weight: bold;
}

.description {
    white-space: pre-line;
}

#editIdea, #deleteIdea{
    margin-top: 6em ;
    margin-bottom: 7em ;
}

