<h1>Welcome to the Authentication Demonstration! Please register or login.</h1>

<ul>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Log out</a></li>

</ul>