<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>

        <div class="ui fixed menu inverted">
            <div class="ui container">
                <div class="header item">
                    <a href="/"><i class="coffee icon"></i>IdeaMan</a>
                    </div>
                <a href="/blogs/new" class="item">New Idea</a>
            </div>
        </div>
        <div class="headerSpace"></div>
